@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-top {
  margin: 0 0 3em;
}

.demo-app-calendar {
  margin: 0 auto;
  max-width: 900px;
}
.fc-button-primary {
  border-color: var(--principal);
  background-color: var(--secondary);
}
.fc-button-primary:disabled,
.fc-button-primary:disabled:hover {
  border-color: var(--principal);
  background-color: #0077c87d;
}
.fc-button-primary:hover {
  background-color: var(--principal);
}
.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
  border-color: var(--principal);
  background-color: var(--principal);
}
.fc-header-toolbar,
.fc-day-header {
  text-transform: capitalize;
  color: var(--secondary);
}
