html,
body,
#root {
  min-height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --principal: #0077c8;
  --secondary: #00a9e0;
  --complement: #ffffff;
  --gray: #e0e0e0;
  --danger: #dc3545;
}
@font-face {
  font-family: DaggerSquare;
  src: url(./assets/fonts/DAGGERSQUARE.otf);
}
